<!--  -->
.logo {
    float: left;
    margin: auto 5%;
}

.logo img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: black;
}



a:visited {
    color: pink;
}

a:hover {
    color: #f14a58;
    text-shadow: 15px 14px 36px -12px rgba(0,0,0,0.75);
}

#header-links-container {
    float: left;
    height: 70px;
    line-height: 63px;
}

sign-up-link {
    display: none;
}

#header-links-container a {
    font-size: 12px;
}

.dropdown-menu-button {
    float: right;
    width: 58px;
    border: none;
    background: transparent;
    box-sizing: content-box;
    padding: 0;
    cursor: pointer;
    outline: none;
}


.dropdown-menu-button img {
    vertical-align: middle;
}

.dropdown-menu-button:hover {
    background-color: #e5e5e5;
}

#dropdown-button {
    border-left: 1px solid #e5e5e5;
    box-sizing: border-box;
}

#close-dropdown {
    display: none;
}


<!--  -->

footer {
    border-top: 1px solid #c5c5c5;
    font-size: 12px;
}

.customer-navigation .links-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}



.customer-navigation::before, 
.contact-info::before, 
.customer-navigation::after, 
.contact-info::after,
.about-site-info::after {
    display: table;
    content: "";
}

.customer-navigation::after, .contact-info::after, .about-site-info::after {
    clear: both;
}

.customer-navigation {
    padding-bottom: 40px;
}

.customer-navigation a {
    text-decoration: none;
    color: black;
    line-height: 37px;
}


.customer-navigation, .contact-info {
    width: 45%;
    float: left;
    padding-left: 5%;
    padding-top: 15px;
}

.contact-info{
    height: 109px;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

.bordered-left-contact-info {
    padding-left: calc(5% - 1px);
    border-left: 1px solid #c5c5c5;
}


.delivery-service-advertisement {
    display: none;
}

.footer-navigation, .follow-buttons-container {
    line-height: 60px;
    height: 60px;
    border-bottom: 1px solid #c5c5c5;
}

.heading-of-footer-sections{
    font-family: "Open Sans";
    margin-bottom: 20px;
}

.footer-navigation {
    list-style-type: none;
    padding: 0;
    font-size: 0;
}

.footer-navigation, .trademark {
    float: left;
    width: 65%;
    padding-left: 5%;
}

.footer-navigation li {
    display: inline;
    margin-right: 10px;
    font-size: 10px;
}

.follow-buttons-container, .share {
    width: 25%;
    float: right;
    padding-left: 5%;
}

.follow-button-facebook, .follow-button-twitter, .share-button {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
}

.follow-button-facebook {
    background: transparent url("../img/mobile/icons/soc_f.png") center no-repeat;
}

.follow-button-twitter {
    background: transparent url("../img/mobile/icons/soc_tw.png") center no-repeat;
}

.about-site-info .footer-navigation {
    display: none;
}

.trademark, .share {
    line-height: 70px;
    height: 70px;
}

.share-button {
    width: 50px;
    background: url("../img/mobile/icons/share.png") center no-repeat;
}

/* for dropdown menu */

#dropdown-menu {
    font-family: "Open Sans";
    font-size: 26px;
    display: none;
    z-index: 3;
    position: absolute;
    top: 70px;
    background-color: white;
    width: 100%;
    box-shadow: 1px 150px 36px 33px rgba(0,0,0,0.75);
}

.navigation-links-container {
    margin: 0;
    list-style-type: none;
    padding-left: 5%;
}

.navigation-links-container li {
    line-height: 60px;
    height: 60px;
}

.search-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 20px 5%;
}

.search-button {
    display: none;
}

@media only screen and (min-width: 768px) {

    .sign-up-link {
        display: inline;
    }

    .dropdown-menu-button {
        display: none !important;
    }

    #header-links-container {
        float: right;
        margin-right: 5%;
    }


    #dropdown-menu {
        top: 60px;
        position: initial;
        font-size: 12px;
        font-weight: bold;
        box-shadow: none;
        display: block !important;
        clear: both;
    }

    .navigation-links-container {
        float: left;
    }

    .navigation-links-container li {
        display: inline;
        margin-right: 23px;
    }

    .search-input {
        display: none;
    }

    .search-button {
        display: block;
        float: right;
        line-height: 60px;
        margin-right: 5%;
        outline: none;
        border: none;
        background: transparent;
    }

    .customer-navigation, .contact-info {
        width: 28%;
        border: none;
        padding-top: 38px;
    }

    .customer-navigation {
        padding-bottom: 85px;
    }

    .customer-navigation li {
        font-size: 14px;
        line-height: 40px;
    }

    .customer-navigation .heading-of-footer-sections {
        margin-bottom: 30px;
    }

    .customer-care, .contact-info, .bordered-left-contact-info, .follow-buttons-container {
        padding-left: 15px;
    }

    .bordered-left-contact-info {
        padding-top: 0;
    }
    
    .contact-info .heading-of-footer-sections {
        margin-bottom: 15px;
    }

    .follow-buttons-container {
        float: left;
        border: none;
        padding-top: 15px;
    }

    .footer-navigation {
        font-size: 12px;
        padding-left: 0;
        border: none;
        display: none;
    }

    .about-site-info {
        float: left;
        width: 100%;
        border-top: 1px solid #c5c5c5;
    }
 
    .about-site-info .footer-navigation {
        display: block;
        width: 35.3%;
        float: right;
        margin: 0;
    }

    .footer-navigation a {
        font-size: 12px;
    }

    .footer-navigation, .trademark, .share {
        line-height: 80px;
        height: 80px;
    }


    .trademark {
        width: 33.3%;
    }

    .share {
        width: 15%;
        float: left;
    }
   
}

@media only screen and (min-width: 1024px) {
    #header-links-container {
        margin-right: 60px;
    }

    .navigation-links-container li {
        margin-right: 45px;
    }

    .search-button {
        display: none;
    }

    .search-input {
        margin: 12px 5% 12px auto;
        display: block;
        line-height: 30px;
    }

    .customer-navigation {
        width: 22.4%
    }

    .bordered-left-contact-info {
        padding-top: 38px;
    }

    .customer-care {
        padding-left: 0;
        border-right: 1px solid #c5c5c5;
    }

    .contact-info {
        width: 20%;
        padding-left: 5%;
    }
    
    .follow-buttons-container {
        padding-left: 5%;
        padding-top: 38px;
    }

    .delivery-service-advertisement {
        display: block;
        width: 25%;
        padding-left: 5%;
        float: left;
        font-family: "Open Sans";
        font-style: italic;
        color: #c5c5c5;
        line-height: 30px;
    }

    .about-site-info .footer-navigation {
        width: 25%;
    }

    .share {
        margin-left: 5%;
    }
}
