<!--  -->
.logo {
    content: url("../img/mobile/icons/logo.png");
    float: left;
    margin: auto 5%;
}

a:hover {
    color: #f14a58;
    text-shadow: 15px 14px 36px -12px rgba(0,0,0,0.75);
}

a:visited {
    color: pink;
}

#header-links-container {
    float: left;
    height: 70px;
    line-height: 63px;
}

sign-up-link {
    display: none;
}

#header-links-container a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-left: 22px;
}

.dropdown-menu-button {
    float: right;
    width: 58px;
    border: none;
    background: transparent;
    box-sizing: content-box;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.dropdown-menu-button img {
    vertical-align: middle;
}

.dropdown-menu-button:hover {
    background-color: #e5e5e5;
}

#dropdown-button {
    border-left: 1px solid #e5e5e5;
    box-sizing: border-box;
}

#close-dropdown {
    display: none;
}

.clearfix {
    clear: both;
}

<!--  -->

footer {
    font-size: 12px;
}

.customer-navigation .links-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

.customer-navigation a {
    line-height: 34px;
    text-decoration: none;
    color: black;
}

.customer-navigation, .contact-info {
    width: 45%;
    float: left;
    margin-left: 5%;
}

.contact-info{
    height: 109px;
}

.delivery-service-advertisement {
    display: none;
}

.footer-navigation, .follow-buttons-container {
    line-height: 64px;
    height: 64px;
}

.footer-navigation {
    list-style-type: none;
    padding: 0;
    font-size: 0;
}

.footer-navigation, .trademark {
    float: left;
    width: 65%;
    margin-left: 5%;
}

.footer-navigation li {
    display: inline;
    margin-right: 10px;
    font-size: 12px;
}

.follow-buttons-container, .share {
    width: 25%;
    float: right;
    margin-left: 5%;
}

.follow-button-facebook, .follow-button-twitter, .share-button {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
}

.follow-button-facebook {
    background: transparent url("../img/mobile/icons/soc_f.png") center no-repeat;
}

.follow-button-twitter {
    background: transparent url("../img/mobile/icons/soc_tw.png") center no-repeat;
}

.about-site-info .footer-navigation {
    display: none;
}

.trademark, .share {
    line-height: 70px;
    height: 70px;
}

.share-button {
    width: 50px;
    background: url("../img/mobile/icons/share.png") center no-repeat;
}

/* for dropdown menu */

#dropdown-menu {
    font-family: "Open Sans";
    font-size: 26px;
    display: none;
    z-index: 3;
    position: absolute;
    top: 70px;
    background-color: white;
    width: 100%;
    box-shadow: 1px 150px 36px 33px rgba(0,0,0,0.75);
}

.navigation-links-container {
    margin-left: 5%;
    list-style-type: none;
    padding: 0;
}

.navigation-links-container li {
    line-height: 60px;
    height: 60px;
}

.navigation-links-container a {
    text-decoration: none;
    color: black;
}

.search-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 20px 20px;
}

.search-button {
    display: none;
}

@media only screen and (min-width: 768px) {
   .logo {
       content: url("../img/mobile/icons/logo_full.png");
   }

    .sign-up-link {
        display: inline;
    }

    .dropdown-menu-button {
        display: none !important;
    }

    #header-links-container {
        float: right;
        margin-right: 5%;
    }


    #dropdown-menu {
        position: static;
        font-size: 12px;
        font-weight: bold;
        box-shadow: none;
        display: block !important;
        clear: both;
    }

    .navigation-links-container {
        display: inline;
    }

    .navigation-links-container li {
        display: inline;
        margin-right: 16px;
    }

    .search-input {
        display: none;
    }

    .search-button {
        display: inline;
        outline: none;
        border: none;
        background: transparent;
    }

    .customer-navigation, .contact-info {
        width: 28%;
    }

    .follow-buttons-container {
        float: left;
    }

    .footer-navigation {
        display: none;
    }

    .about-site-info .footer-navigation {
        display: block;
        width: 33.3%;
        float: right;
        margin: 0;
    }

    .trademark {
        width: 33.3%;
    }

    .share {
        margin-left: 0;
        float: left;
    }
   
}

@media only screen and (min-width: 1024px) {
    #header-links-container {
        margin-right: 60px;
    }

    .navigation-links-container li {
        margin-right: 45px;
    }

    .search-button {
        display: none;
    }

    .search-input {
        margin-right: 60px;
        display: inline;
        line-height: 30px;
        margin-left: 0;
    }

    .customer-navigation, .contact-info {
        width: 20%;
    }

    .delivery-service-advertisement {
        display: block;
        width: 25%;
        margin-left: 5%;
        float: left;
        font-family: "Open Sans";
        font-style: italic;
        color: #c5c5c5;
        line-height: 30px;
    }

    .about-site-info .footer-navigation {
        width: 25%;
    }

    .share {
        margin-left: 5%;
    }
}
