<!--  -->
#logo-short {
    margin: 0;
    margin-left: 20px;
    width: 60px;
    float: left;
}

#logo-short  img {
    vertical-align: middle;
}

#logo-full {
    display: none;
    float: left;
}

a:hover {
    color: #f14a58 !important;
    text-shadow: 15px 14px 36px -12px rgba(0,0,0,0.75);
}

a:visited {
    color: pink;
}

header {
    flex: 2;
}

#header-links-container {
    float: left;
    height: 70px;
    line-height: 63px;
}

sign-up-link {
    display: none;
}

#header-links-container a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    margin-left: 22px;
}

.dropdown-menu-button {
    float: right;
    width: 58px;
    border: none;
    background: transparent;
    box-sizing: content-box;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.dropdown-menu-button img {
    vertical-align: middle;
}

.dropdown-menu-button:hover {
    background-color: #e5e5e5;
}

#dropdown-button {
    border-left: 1px solid #e5e5e5;
    box-sizing: border-box;
}

#close-dropdown {
    display: none;
}

.clearfix {
    clear: both;
}

<!--  -->

footer {
    font-size: 12px;
}



.quick-links,  .customer-care {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding: 0;
}

.quick-links a,  .customer-care a {
    line-height: 34px;
    text-decoration: none;
    color: black;
}

.quick-links, .customer-care, .questions-info, .order-by-phone-info {
    width: 45%;
    float: left;
    margin-left: 5%;
}

.questions-info, .order-by-phone-info {
    height: 109px;
}

.delivery-service-advertisement {
    display: none;
}

.footer-navigation, .follow-buttons-container {
    line-height: 64px;
    height: 64px;
}

.footer-navigation {
    list-style-type: none;
    padding: 0;
    font-size: 0;
}

.footer-navigation, .trademark {
    float: left;
    width: 65%;
    margin-left: 5%;
}

.footer-navigation li {
    display: inline;
    margin-right: 10px;
    font-size: 12px;
}

.follow-buttons-container, .share {
    width: 25%;
    float: right;
    margin-left: 5%;
}

.follow-button-facebook, .follow-button-twitter, .share-button {
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
}

.follow-button-facebook {
    background: transparent url("../img/mobile/icons/soc_f.png") center no-repeat;
}

.follow-button-twitter {
    background: transparent url("../img/mobile/icons/soc_tw.png") center no-repeat;
}

.about-site-info .footer-navigation {
    display: none;
}

.trademark, .share {
    line-height: 70px;
    height: 70px;
}

.share-button {
    width: 50px;
    background: url("../img/mobile/icons/share.png") center no-repeat;
}

/* for dropdown menu */

#dropdown-menu {

    font-family: "Open Sans";
    font-size: 26px;
    display: none;
    z-index: 3;
    position: absolute;
    top: 70px;
    background-color: white;
    width: 100%;
    box-shadow: 1px 150px 36px 33px rgba(0,0,0,0.75);
}

.navigation-links-container {
    margin-left: 20px;
    list-style-type: none;
    padding: 0;
}

.navigation-links-container li {
    line-height: 60px;
    height: 60px;
}

.navigation-links-container a {
    text-decoration: none;
    color: black;
}

.search-input {
    border: none;
    outline: none;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 0 20px 20px;
}

.search-button {
    display: none;
}

@media only screen and (min-width: 480px) {
   


}

@media only screen and (min-width: 768px) {
    #logo-short {
        display: none;
    }

    #logo-full {
        margin-left: 40px;
        display: block;
    }

    .sign-up-link {
        display: inline;
    }

    .dropdown-menu-button {
        display: none !important;
    }

    #header-links-container {
        float: right;
        margin-right: 40px;
    }


    #dropdown-menu {
        position: static;
        font-size: 12px;
        font-weight: bold;
        box-shadow: none;
        display: block !important;
        clear: both;
    }

    .navigation-links-container {
        display: inline;
        margin-left: 40px;
    }

    .navigation-links-container li {
        display: inline;
        margin-right: 16px;
    }

    .search-input {
        display: none;
    }

    .search-button {
        display: inline;
        outline: none;
        border: none;
        background: transparent;
    }

    .quick-links, .customer-care, .questions-info, .order-by-phone-info {
        width: 28%;
    }

    .follow-buttons-container {
        float: left;
    }

    .footer-navigation {
        display: none;
    }

    .about-site-info .footer-navigation {
        display: block;
        width: 33.3%;
        float: right;
        margin: 0;
    }

    .trademark {
        width: 33.3%;
    }

    .share {
        margin-left: 0;
        float: left;
    }
   
}

@media only screen and (min-width: 1024px) {
    #logo-full,
    #dropdown-menu ul{
        margin-left: 60px;
    }

    #header-links-container {
        margin-right: 60px;
    }

    #dropdown-menu li {
        margin-right: 45px;
    }

    #dropdown-menu li.last{
        margin-right: 0;
    }

    #dropdown-menu {
        margin-bottom: 10px;
    }

    #dropdown-menu .search-button {
        display: none;
    }

    #dropdown-menu .search-input {
        margin-right: 60px;
        display: inline;
        float: right;
        width: 120px;
        border-bottom-width: 2px;
        font-size: 12px;
        padding-bottom: 10px;
        background: url("../img/mobile/icons/search.png") no-repeat 105px 5px;
        font-weight: bold;
    }



    #contact-info-container .delivery-service-advertisement {
        display: block;
    }

    #contact-info-container .delivery-service-advertisement p {
        font-style: italic;
        width: 50%;
        font-size: 14px;
        line-height: 30px;
        margin-top: 10px;
        font-family: 'Open Sans';
    }

    #footer-support-links-container {
        width: 45.14%;
        margin-left: 40px;
        border-right: 1px solid #e5e5e5;
        margin-bottom: 0;
        margin-left: 60px;
    }

    #footer-support-links-container h3,
    #contact-info-container h3 {
        font-size: 16px;
    }

    #footer-support-links-container h3 {
        margin-bottom: 45px;
    }

    #footer-support-links-container article {
        width: 42%;
        margin-top: 35px;
        margin-bottom: 90px;
    }

    #contact-info-container {
        width: 42%;
        float: left;
        margin-left: 60px;
        margin-right: 0;
    }

    #contact-info-container article:nth-child(1),
    #contact-info-container article:nth-child(2) {
        width: 35%;
        display: inline;
        margin-top: 50px;
        margin-bottom: 0;
    }
    #contact-info-container article:nth-child(2) {
        margin-left: 75px;
    }

    #contact-info-container .follow-buttons-container {
        margin-top: 20px;
    }
    #about-site-container {
        height: 115px;
        width: 88.28%;
        margin: 0 auto;
    }



}


