html,
body {
    overflow-x: hidden;
    margin: 0;
    margin: 0 auto;
    max-width: 1180px;
    min-width: 375px;
}

.container {
    min-width: 375px;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.main-page-content {
    font-size: 10px;
    flex: 2;
}

figure {
    margin: 0;
}

figure img {
    vertical-align: middle;
}

#carousel {
    position: relative;
}

.slides-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300%;
}

.slides-list::before, .slides-list::after {
    display: table;
    content: "";
}

.slides-list::after {
    clear: both;
}

.slide {
    width: 33.3%;
    float: left;
    position: relative;
    transition: left 1s ease-in-out;
    left: 0;
    overflow: hidden;
}

.slide img {
    width: 100%;
    vertical-align: middle;
}

#carousel-controls-container {
    list-style-type: none;
    z-index: 3;
    position: absolute;
    bottom: 0;
    height: 10.2%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid #a5a5a5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.carousel-control {
    margin: auto 5px;
    display: block;
    width: 7px;
    height: 7px;
    background: #a5a5a5;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-control.checked {
    background: #f14a58;
}

.main-button-container {
    width: 90%;
    margin: auto 5%;
    text-align: center;
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
}



.main-button {
    background: transparent;
    outline: none;
    height: 60px;
    width: 215px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #a5a5a5;
    cursor: pointer;
}

.banners {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #c9cbcd;
    border-bottom: 1px solid #c9cbcd;
    
}



.nike-red-banner, .adidas-blue-banner {
    flex-shrink: 2;
    width: 100%;
}


.sale-banner, .caps-and-hats-banner, .repair-patches-banner, .bag-banner {
    display: none;
}

.new-arrivals {
    clear: both;
}


.heading {
    text-align: center;
    font-size: 14px;
}

.item {
    width: 42.5%;
    float: left;
}

.item.first {
    margin: auto 2.5% auto 5%;
}

.item.second {
    margin: auto 5% auto 2.5%;
}

.item img {
    width: 100%;
}

.price {
   font-size: 10px;
   text-align: center; 
}

.item.third, .item.fourth {
    display: none;
}

p.link-onhover {
    z-index: 20;
    display: none;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0;
}

p.details {
    bottom: 55%;
}

p.more {
    bottom: 35%;
}

p.link-onhover a {
    color: white;
    text-decoration: none;
}

/* for start page */

#filters {
    position: relative;
}

#filters .filters-select {
    display: none;
}

#filters ul {
    margin: 0;
    list-style-type: none;
    position: relative;
    padding: 0;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Open Sans';
}

#filters .item-properties {
    overflow: hidden;
    white-space: nowrap;
}

#filters li {
    line-height: 50px;
    height: 55px;
    display: inline-block;
    margin-right: 5px;
}

#filters .filter-btn {
    outline: none;
    box-sizing: border-box;
    background: linear-gradient(to right, transparent, white, white, white);
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 0;
    position: absolute;
    right: 0;
    padding: 0;
}

#filters .filter-btn:hover {
    background: linear-gradient(to right, transparent, #e5e5e5, #e5e5e5, #e5e5e5);;
}

#filters a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

#filters .not-selected-property {
    color: black !important;
}

#filters .item-property {
    font-size: 12px;
    color: red;
}



#filters .dropdown-filters {
    display: none;
    margin: 0;
    width: 100%;
    position: absolute;
    z-index: 150;
    background-color: white;

}

#filters .dropdown-filters .swipe-line {
    display: block;
    white-space: nowrap;
    width: 200%;
    overflow: hidden;
    font-size: 30px;
    line-height: 0;
    height: 50px;
    margin: 0 0 30px 0;

}

#filters .dropdown-filters .heading{
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    font-family: 'Open Sans';
    margin: 27px 0 53px 20px;

}

#filters .dropdown-filters h5 {
    font-size: 12px;
    margin: 20px 0 0 20px;
}


#filters .dropdown-filters p {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    cursor: pointer;
}

#filters .selected-filter {
    color: #f14a58;
}

#catalog-body {
    width: 89.3%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}

#catalog-body figure.item:nth-of-type(2n) {
    margin-left: 6%;
}

#catalog-body .item .title {
    height: 118px;
}

#catalog-body .extra-discount-offer-2,
#catalog-body .extra-discount-offer-3 {
    display: none;
}

#catalog-body .extra-discount-offer-1 {
    text-align: center;
    clear: both;
}

#catalog-body .discount-offer {
    width: 75%;
    margin: 0 auto;
}

#catalog-body .discount-offer h3 {
    margin: auto auto;
    line-height: 30px;
}

#catalog-body .discount-offer p {
    font-size: 12px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 65px;
    font-style: italic;
    font-family: 'Open Sans';
}

#catalog-body .discount-offer strong {
    color: #f14a58;

}

#catalog-body figure:nth-child(14),
#catalog-body figure:nth-child(13),
#catalog-body figure:nth-child(15),
#catalog-body figure:nth-child(12) {
    display: none;
}

/*for catalog */

.page-heading {
    font-family: "Open Sans";
    font-size: 14px;
    margin-left: 5%;
}

.notice {
    font-size: 10px;
    background: #e5e5e5;
    text-align: center;
    padding: 10px 0;
}

.notice p {
    margin: auto 5%;
}

.clear-bag-button {
    border: none;
    background: transparent;
}

.bag-main-buttons-container {
    justify-content: space-between;
}

/*for shopping bag */

.back-to-catalog-link {
    color: black;
    text-decoration: none;
}

.item-description {
    font-family: "Open Sans";
    font-style: italic;
    line-height: 30px;
    text-align: center;
    font-size: 10px;
}

.item-property-buttons-container {
    display: flex;
}

.prop-heading {
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: normal;
    width: 40px;
}

.property-button {
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
    width: 80px;
    height: 40px;
    margin: auto calc((100% - 80px * 3 - 40px)/6);
    background: transparent;
    border: 1px solid #a5a5a5;
}

.item-galery, .item-overview {
    width: 90%;
    margin: auto 5%;
    
}

.item-galery {
    font-size: 0;
}

.front-item-picture {
    width: 100%;
}

.item-thumbnail {
    width: 33.33%;
}





/*for item-details */

/* tablet media ************************************************************ */


@media only screen and (min-width: 768px) {
    #carousel-controls-container {
        height: 8%;
    }

    .item {
        width: 26.66%;
    }

    .item.third {
        display: block;
        margin-right: 5%;
    }

    .nike-red-banner, .adidas-blue-banner {
        border-right: 1px solid #c9cbcd;
        width: 66.7%;
    }

    .sale-banner, .repair-patches-banner {
        display: block;
        width: 33.3%;
    }
    
    .notice p {
        display: inline;
        margin: 0;
    }

    .item-description {
        width: 60%;
        margin: auto auto;
    }
    
    .item-property-buttons-container {
        justify-content: center;
        align-items: center;
    }

    .property-button {
        margin: 10px;
    }
   
   .front-item-picture {
       width: 75%;
       float: left;
   }

   .item-thumbnail {
       width: 25%;
   }

   
}

@media only screen and (min-width: 1024px) {
   #carousel-controls-container {
       height: 9.5%;
   }
    
    .item {
        width: 18.75%;
    }

    .item.fourth {
        display: block;
        margin-right: 5%;
    }

    .sale-banner {
        display: none;
    }

    .caps-and-hats-banner, .bag-banner {
        display: block;
    }

    .nike-red-banner, .caps-and-hats-banner, .adidas-blue-banner {
        width: 50%;
    }

    .bag-banner, .repair-patches-banner {
        width: 25%;
    }


    /* carousel desktop */
   
   .item-galery, .item-overview {
       width: 42.5%;
       float: left;
       margin: 0;
       margin-left: 5%;
   }

   .item-overview {
       float: right;
       margin-right: 5%;
   }

   .front-item-picture {
       width: 100%;
       clear: both;
   }

   .item-thumbnail {
       width: 33.33%;
   }

   .item-description {
       width: 100%;
       text-align: justify;
   }

   .item-property-buttons-container {
       justify-content: flex-start;
   }

    /*catalog desktop */
    #catalog-body {
        margin-top: 60px;
    }

    #catalog-body .extra-discount-offer-2 {
        display: none;
    }

    #catalog-body .extra-discount-offer-3 {
        display: block;
        clear: both;
        width: 100%;
        font-family: 'Open Sans';
    }

    #catalog-body .discount-offer p{
        font-size: 14px;
        margin-top: 15px;
    }

    #catalog-body figure.item {
        margin: 0 !important;
    }

    #catalog-body figure.item .title {
        height: 160px !important;
    }

    #catalog-body figure.item:nth-of-type(4n+2) {
        margin: 0 5% !important;
    }

    #catalog-body figure.item:nth-of-type(4n+3) {
        margin-right: 5% !important;
    }

    #filters .dropdown-filters {
        display: none !important;
    }


    #filters ul {
        display: none;
    }

    #filters {
        margin: 0 auto;
    }

    #filters .filters-select {
        display: block;

    }

    #filters select {
        display: block;
        float: left;
        height: 65px;
        width: 14.71%;
        box-sizing: border-box;
        padding-left: 20px;
        font-size: 16px;
        font-weight: bold;
        outline: none;
        background: url("../img/mobile/icons/filter.png") no-repeat 90% 50%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
    }

    #filters select:focus{
        background-color: #e5e5e5;
        color: #f14a58;
    }

    #filters  select::-ms-expand {
        display: none;
    }

    #filters .filters-select option {
        font-size: 20px;
    }

    #fashion-select, #brand-select, #size-select {
        position: relative;
        padding-top: 18px;

    }

    #filters .filters-select select.first,
    #filters .filters-select select.last {
        width: 20.58%;
    }

    #filters .filters-select select.first {
        padding-left: 60px;
    }

    #filters .filters-select select.last {
        padding-right: 60px;
        background: url("../img/mobile/icons/filter.png") no-repeat 70% 50%;
    }

    #filters label[for="fashion-select"],
    #filters label[for="brand-select"],
    #filters label[for="size-select"] {
        position: absolute;
        z-index: 2;
        padding-top: 12px;
        padding-left: 20px;
        font-size: 10px;
    }

    #filters label[for="fashion-select"] {
        padding-left: 60px;
    }




    /*start page desktop */
    

    

    

    #shopping-bag-buttons-container .buy-items-btn-container button{
        width: 340px !important;
        height: 75px !important;
    }

    #shopping-bag-buttons-container .clear-bag-btn-container .empty-bag {
        margin-left: 90px;
    }

    #shopping-bag-buttons-container .total-cost-container p{
        margin-right: 90px;
    }


}



