html,
body {
    overflow-x: hidden;
    margin: 0;
    margin: 0 auto;
    max-width: 1180px;
    min-width: 375px;
}

.container {
    min-width: 375px;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

figure {
    margin: 0;
}

figure img {
    vertical-align: middle;
}

figcaption img {
    vertical-align: middle;
}

#carousel {
    position: relative;
}

.slides-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300%;
}

.slides-list::before, .slides-list::after {
    display: table;
    content: "";
}

.slides-list::after {
    clear: both;
}

.slide {
    width: 33.3%;
    float: left;
    position: relative;
    transition: left 1s ease-in-out;
    left: 0;
    overflow: hidden;
}

.slide img {
    width: 100%;
    vertical-align: middle;
}

#carousel-controls-container {
    list-style-type: none;
    z-index: 3;
    position: absolute;
    bottom: 0;
    height: 10.2%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid #a5a5a5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.carousel-control {
    margin: auto 5px;
    display: block;
    width: 7px;
    height: 7px;
    background: #a5a5a5;
    border-radius: 50%;
    
}

.carousel-control.checked {
    background: #f14a58;
}

.main-button-container {
    text-align: center;
    clear: both;
}

.main-button {
    height: 60px;
    width: 215px;
}

.banners {
    display: flex;
    align-items: center;
    border-top: 1px solid #c9cbcd;
    border-bottom: 1px solid #c9cbcd;
    
}

.nike-red-banner {
    width: 100%;
}


.sale-banner, .caps-and-hats-banner {
    display: none;
}

.new-arrivals {
    clear: both;
}


.heading {
    text-align: center;
}

.item {
    width: 42.5%;
    float: left;
}

.item.first {
    margin: auto 2.5% auto 5%;
}

.item.second {
    margin: auto 5% auto 2.5%;
}

.item img {
    width: 100%;
}

.price {
   font-size: 10px;
   text-align: center; 
}

.item.third, .item.fourth {
    display: none;
}

p.link-onhover {
    z-index: 20;
    display: none;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0;
}

p.details {
    bottom: 55%;
}

p.more {
    bottom: 35%;
}

p.link-onhover a {
    color: white;
    text-decoration: none;
}

/* for start page */

#filters {
    position: relative;
}

#filters .filters-select {
    display: none;
}

#filters ul {
    margin: 0;
    list-style-type: none;
    position: relative;
    padding: 0;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Open Sans';
}

#filters .item-properties {
    overflow: hidden;
    white-space: nowrap;
}

#filters li {
    line-height: 50px;
    height: 55px;
    display: inline-block;
    margin-right: 5px;
}

#filters .filter-btn {
    outline: none;
    box-sizing: border-box;
    background: linear-gradient(to right, transparent, white, white, white);
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 0;
    position: absolute;
    right: 0;
    padding: 0;
}

#filters .filter-btn:hover {
    background: linear-gradient(to right, transparent, #e5e5e5, #e5e5e5, #e5e5e5);;
}

#filters a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

#filters .not-selected-property {
    color: black !important;
}

#filters .item-property {
    font-size: 12px;
    color: red;
}



#filters .dropdown-filters {
    display: none;
    margin: 0;
    width: 100%;
    position: absolute;
    z-index: 150;
    background-color: white;

}

#filters .dropdown-filters .swipe-line {
    display: block;
    white-space: nowrap;
    width: 200%;
    overflow: hidden;
    font-size: 30px;
    line-height: 0;
    height: 50px;
    margin: 0 0 30px 0;

}

#filters .dropdown-filters .heading{
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
    font-family: 'Open Sans';
    margin: 27px 0 53px 20px;

}

#filters .dropdown-filters h5 {
    font-size: 12px;
    margin: 20px 0 0 20px;
}


#filters .dropdown-filters p {
    display: inline-block;
    position: relative;
    margin-right: 5px;
    cursor: pointer;
}

#filters .selected-filter {
    color: #f14a58;
}

#catalog-body {
    width: 89.3%;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}

#catalog-body figure.item:nth-of-type(2n) {
    margin-left: 6%;
}

#catalog-body .item .title {
    height: 118px;
}

#catalog-body .extra-discount-offer-2,
#catalog-body .extra-discount-offer-3 {
    display: none;
}

#catalog-body .extra-discount-offer-1 {
    text-align: center;
    clear: both;
}

#catalog-body .discount-offer {
    width: 75%;
    margin: 0 auto;
}

#catalog-body .discount-offer h3 {
    margin: auto auto;
    line-height: 30px;
}

#catalog-body .discount-offer p {
    font-size: 12px;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 65px;
    font-style: italic;
    font-family: 'Open Sans';
}

#catalog-body .discount-offer strong {
    color: #f14a58;

}

#catalog-body figure:nth-child(14),
#catalog-body figure:nth-child(13),
#catalog-body figure:nth-child(15),
#catalog-body figure:nth-child(12) {
    display: none;
}

/*for catalog */

#bag-heading {
    width: 89.3%;
    margin: 0 20px;
}

#bag-body .empty-bag-message,
#bag-body .empty-purchased-message {
    display: none;
    width: 100%;
    margin: 20px auto;
    text-align: left;
    color: #f14a58;
}

#bag-heading h1 {
    font-size: 16px;
    margin-left: 20px;
}

#bag-body {
    width: 89.3%;
    margin: 0 20px;
}

#bag-body .item-in-bag {
    margin: 15px 0 35px 0;
}

.item-in-bag .image-area, .item-in-bag .price {
    width: 50%;
    float: left;
    position: relative;
}

.item-in-bag .image-area img, .item-in-bag .price p {
    margin: 0;
    width: 100%;
}

.item-in-bag .about {
    font-size: 10px;
    width: 50%;
    float: right;
}

.item-in-bag .about h3,
.item-in-bag .about p,
.item-in-bag .about button {
    margin-left: 10px;
    line-height: 10px;

}

.item-in-bag .price {
    text-align: center;
    float: none;
    font-size: 12px;
}

.item-in-bag .about h3 {
    font-size: 12px;
    line-height: 18px;
}

#main-content {
    flex: 1;
}

#main-content .item-in-bag .about .remove-item-btn {
    font-family: "Open Sans";
    font-weight: bold;
    margin-top: 20px;
    color: #f14a58;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 10px;
}

#main-content .item-in-bag .about .remove-item-btn:hover {
    text-decoration: underline;
}

.item-in-bag {
    transition: all .5s ease-in-out;

}

.disappear {
    opacity: 0;
    transform: scale(0);
}

.cover {
    display: none;
    opacity: 0;
}

.target-delete-cover {
    position: absolute;
    width: 50%;
    top: 30%;
    left: 25%;
    z-index: 20;
}

.target-delete-filter {
    -webkit-filter: blur(10px);
    opacity: 0.5;
}

.shopping-bag-reminder {
    height: 55px;
    font-size: 10px;
    background-color: #f7f7f7;
    border-top: 1px solid #e5e5e5;
}

.shopping-bag-reminder p {
    line-height: 17px;
    margin: 0;
    text-align: center;
}

.shopping-bag-reminder p:first-child {
    margin-top: 10px;
}

#shopping-bag-buttons-container .empty-bag {
    font-size: 10px;
    border: none;
    padding: 0;
    margin-left: 20px;
}

#shopping-bag-buttons-container article {
    float: left;
    height: 115px;
}

#shopping-bag-buttons-container .clear-bag-btn-container {
    width: 30%;
    line-height: 100px;
}

#shopping-bag-buttons-container .buy-items-btn-container {
    width: 40%;
    line-height: 100px;
    text-align: center;
}

#shopping-bag-buttons-container .buy-items-btn-container button {
    height: 60px;
    width: 140px;
    line-height: 60px;

}

#shopping-bag-buttons-container .total-cost-container {
    width: 30%;
    text-align: right;

}

#shopping-bag-buttons-container .total-cost-container p {
    font-size: 10px;
    margin: 5px 20px 0 0;
}

#shopping-bag-buttons-container .total-cost-container p:first-child {
    margin-top: 30px;
}

#shopping-bag-buttons-container .total-cost-container .total-price {
    font-size: 14px;
    font-weight: bold;
}

/*for shopping bag */

.back-to-catalog {
    width: 89.3%;
    margin: 0 auto;
    height: 65px;
    line-height: 65px;
}

.back-to-catalog a {

    font-family: 'Open Sans';
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    font-weight: bold;
}

#item {
    width: 89.3%;
    margin: 0 20px;

}

#item .item-big-container img {
    width: 100%;
    margin-bottom: 20px;
}

#item .thumbnail-container {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 20px;
}



#item .thumbnail {
    width: 32.835%;
    margin-right: 20px;
    cursor: pointer;
}

#item .chosen-thumbnail {
    -webkit-filter: brightness(80%);
    filter: brightness(80%);
}

#item p {
    font-size: 14px;
    text-align: center;
    line-height: 30px;
}

#item h2 {
    font-size: 20px;
    text-align: center;
}

#item .info {
    font-style: italic;
    font-family: 'Times New Roman';
}

#item input[type="radio"] {
    display: none;
    outline: none;

}

#item input[type="radio"] + .param-label {
    margin: 0 10px 20px 10px;
    display: inline-block;
    width: 145px;
    height: 60px;
    background: white;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 60px;
}

#item input[type="radio"]:checked + .param-label {
    background: #e5e5e5;
}

#item .first, #item .third {
    float: left;
    text-align: right;
}

#item .second {
    float: right;
    text-align: left;
}

#item .checked-size, #item .checked-color {
    background-color: #e5e5e5;
}

/*for item-details */

/* tablet media ************************************************************ */


@media only screen and (min-width: 768px) {
    
    .item {
        width: 26.66%;
    }

    .item.third {
        display: block;
        margin-right: 5%;
    }

    .nike-red-banner {
        width: 66%;
        border-right: 1px solid #c9cbcd;
    }

    .sale-banner {
        display: block;
        width: 34%;
    }
    

    #bag-body {
        width: 89.5%;
    }

    #item {
        width: 89.5%;
    }

   

    .buy-items-btn-container #buy-items {
        width: 260px !important;
        height: 70px !important;
        font-size: 24px;
    }

    .shopping-bag-reminder {
        height: 40px
    }

    .shopping-bag-reminder p {
        display: inline;
        font-size: 11px;
        font-family: 'Open Sans';
        font-weight: bold;
        line-height: 40px;
    }
}

@media only screen and (min-width: 1024px) {
   #carousel-controls-container {
       height: 9.5%;
   }
    
    .item {
        width: 18.75%;
    }

    .item.fourth {
        display: block;
        margin-right: 5%;
    }

    .sale-banner {
        display: none;
    }

    .caps-and-hats-banner {
        display: block;
    }

    .nike-red-banner, .caps-and-hats-banner {
        width: 50%;
    }


    /* carousel desktop */
   

    /*catalog desktop */
    #catalog-body {
        margin-top: 60px;
    }

    #catalog-body .extra-discount-offer-2 {
        display: none;
    }

    #catalog-body .extra-discount-offer-3 {
        display: block;
        clear: both;
        width: 100%;
        font-family: 'Open Sans';
    }

    #catalog-body .discount-offer p{
        font-size: 14px;
        margin-top: 15px;
    }

    #catalog-body figure.item {
        margin: 0 !important;
    }

    #catalog-body figure.item .title {
        height: 160px !important;
    }

    #catalog-body figure.item:nth-of-type(4n+2) {
        margin: 0 5% !important;
    }

    #catalog-body figure.item:nth-of-type(4n+3) {
        margin-right: 5% !important;
    }

    #filters .dropdown-filters {
        display: none !important;
    }


    #filters ul {
        display: none;
    }

    #filters {
        margin: 0 auto;
    }

    #filters .filters-select {
        display: block;

    }

    #filters select {
        display: block;
        float: left;
        height: 65px;
        width: 14.71%;
        box-sizing: border-box;
        padding-left: 20px;
        font-size: 16px;
        font-weight: bold;
        outline: none;
        background: url("../img/mobile/icons/filter.png") no-repeat 90% 50%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
    }

    #filters select:focus{
        background-color: #e5e5e5;
        color: #f14a58;
    }

    #filters  select::-ms-expand {
        display: none;
    }

    #filters .filters-select option {
        font-size: 20px;
    }

    #fashion-select, #brand-select, #size-select {
        position: relative;
        padding-top: 18px;

    }

    #filters .filters-select select.first,
    #filters .filters-select select.last {
        width: 20.58%;
    }

    #filters .filters-select select.first {
        padding-left: 60px;
    }

    #filters .filters-select select.last {
        padding-right: 60px;
        background: url("../img/mobile/icons/filter.png") no-repeat 70% 50%;
    }

    #filters label[for="fashion-select"],
    #filters label[for="brand-select"],
    #filters label[for="size-select"] {
        position: absolute;
        z-index: 2;
        padding-top: 12px;
        padding-left: 20px;
        font-size: 10px;
    }

    #filters label[for="fashion-select"] {
        padding-left: 60px;
    }




    /*start page desktop */
    

    

    

    #shopping-bag-buttons-container .buy-items-btn-container button{
        width: 340px !important;
        height: 75px !important;
    }

    #shopping-bag-buttons-container .clear-bag-btn-container .empty-bag {
        margin-left: 90px;
    }

    #shopping-bag-buttons-container .total-cost-container p{
        margin-right: 90px;
    }


}



