html,
body {
    overflow-x: hidden;
    margin: 0;
    margin: 0 auto;
    max-width: 1180px;
    min-width: 375px;
}

.container {
    min-width: 375px;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.main-page-content {
    font-size: 10px;
    flex: 2;
}

figure {
    margin: 0;
}

figure img {
    vertical-align: middle;
}

#carousel {
    position: relative;
}

.slides-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300%;
}

.slides-list::before, .slides-list::after {
    display: table;
    content: "";
}

.slides-list::after {
    clear: both;
}

.slide {
    width: 33.3%;
    float: left;
    position: relative;
    transition: left 1s ease-in-out;
    left: 0;
    overflow: hidden;
}

.slide img {
    width: 100%;
    vertical-align: middle;
}

#carousel-controls-container {
    list-style-type: none;
    z-index: 3;
    position: absolute;
    bottom: 0;
    height: 10.2%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    border-top: 1px solid #a5a5a5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.carousel-control {
    margin: auto 5px;
    display: block;
    width: 7px;
    height: 7px;
    background: #a5a5a5;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-control.checked {
    background: #f14a58;
}

.main-button-container {
    width: 90%;
    margin: auto 5%;
    text-align: center;
    clear: both;
    display: flex;
    align-items: center;
        margin-top: 55px;
    margin-bottom: 110px;
}

.centered-buttons {
    justify-content: center;
}

.main-button {
    background: transparent;
    outline: none;
    height: 62px;
    width: 220px;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #a5a5a5;
    cursor: pointer;

}

.banners {
    width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #c9cbcd;
    border-bottom: 1px solid #c9cbcd;
    
}



.first-banner-image {
    width: 108%;
}

.tablet-visible-banner, .desktop-visible-banner {
    display: none;
}


.sale-banner, .caps-and-hats-banner, .repair-patches-banner, .bag-banner {
    display: none;
}

.new-arrivals, .catalog-body {
    width: 90%;
    margin: auto 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.heading {
    font-family: "Open Sans";
    font-size: 28px;
    margin: 50px auto 42px;
}

.name, .heading {
    text-align: center;
}

.name {
    margin-bottom: 10px;
    font-size: 14px;
}

.item-short-overview-block {
    width: 47.5%;
}

.tablet-visible-item-short-overview, .desktop-visible-item-short-overview {
    display: none;
}


.item-short-overview-block img {
    width: 100%;
}

.price {
   font-size: 10px;
   text-align: center; 
       font-size: 12px;
    text-align: center;
    margin-top: 0px;
}

p.link-onhover {
    z-index: 20;
    display: none;
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0;
}

p.details {
    bottom: 55%;
}

p.more {
    bottom: 35%;
}

p.link-onhover a {
    color: white;
    text-decoration: none;
}

/* for start page */

.selecting-filters-container {
    display: none;
}

.filters-bar::before, .filters-bar::after, .selected-filters::before, .selected-filters::after {
    content: "";
    display: table;
}

.filters-bar::after, .selected-filters::after {
    clear: both;
}

.filters-bar {
    font-family: "Open Sans";
    width: 95%;
    border-bottom: 1px solid #a5a5a5;
    padding-left: 5%;
}

.selected-filters {
    font-weight: bold;
    padding: 0;
    width: calc(100% - 58px);
    list-style-type: none;
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    height: 50px;
    line-height: 50px;
}


.selected-property {
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
}

.showing-filters-button {
    height: 50px;
    padding: 0;
    width: 58px;
    border: none;
    float: right;
    background: url("../img/icons/filter.png") center no-repeat;
}

.dropdown-filters {
    width: 100%;
    display: block;
    font-family: "Open Sans";
    position: absolute;
    background: white;
}

.hidden-filters {
    display: none;
}

.filters-hint {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
    margin: 35px 5% 55px 5%;
}


.filters-section-heading {
    margin-left: 5%;
    font-family: "Roboto";
    margin-bottom: 0;
}

.list-of-filters {
    padding: 0;
    font-size: 0;
    margin: auto 30px 35px 5%;
    list-style-type: none;
    white-space: nowrap;
    position: relative;
    left: 0;
    transition: left 1s ease-in-out;
}

.filter-value {
    display: inline-block;
    font-size: 28px;
    margin-right: 20px;
    font-family: "Open Sans";
    font-weight: bold;
    cursor: pointer;
}

.selected-filter-value {
    color: #f14a58;
}

.extra-offer-container {
    font-family: "Open Sans";
     width: 80%;
     text-align: center;
     line-height: 30px;
     margin: auto auto;
}



.offer {
    font-size: 18px;
    font-weight: bold;
}

.offer-notice {
    font-style: italic;
    font-size: 12px;
}

.discount {
    color: #f14a58;
}

/*for catalog */

.page-heading {
    font-family: "Open Sans";
    font-size: 14px;
    margin-left: 5%;
}

.notice {
    font-size: 10px;
    background: #e5e5e5;
    text-align: center;
    padding: 10px 0;
}

.notice p {
    margin: auto 5%;
}

.clear-bag-button {
    border: none;
    background: transparent;
}

.justified-buttons {
    justify-content: space-between;
}

/*for shopping bag */

.back-to-catalog-link {
    color: black;
    text-decoration: none;
}

.item-description {
    font-family: "Open Sans";
    font-style: italic;
    line-height: 30px;
    text-align: center;
    font-size: 10px;
}

.item-property-buttons-container {
    display: flex;
}

.prop-heading {
    font-family: "Open Sans";
    font-size: 10px;
    font-weight: normal;
    width: 40px;
}

.property-button {
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
    width: 80px;
    height: 40px;
    margin: auto calc((100% - 80px * 3 - 40px)/6);
    background: transparent;
    border: 1px solid #a5a5a5;
}

.item-images-bar, .item-detailed-description-container{
    width: 90%;
    margin: auto 5%;
    
}

.item-images-bar {
    font-size: 0;
}

.front-item-picture {
    width: 100%;
}

.item-thumbnail {
    width: 33.33%;
}





/*for item-details */

/* tablet media ************************************************************ */


@media only screen and (min-width: 768px) {
.heading {
        font-size: 40px;
    margin: 85px auto 70px;
}

.name {
        margin-bottom: 15px;
    font-size: 16px;
    margin-top: 35px;
}

.price {
    font-size: 14px;
}

.main-button-container {
        margin-top: 75px;
    margin-bottom: 135px;
}

.main-button {
    font-size: 22px;
        height: 68px;
    width: 300px;
}
    #carousel-controls-container {
        height: 8%;
    }

    .item-short-overview-block {
        width: 30%;
    }

    .changing-order-item-overview {
        order: 1;
    }

    .tablet-visible-item-short-overview {
        display: block;
    }

    .first-banner-image {
        border-right: 1px solid #c9cbcd;
        width: 66.7%;
    }

    .tablet-visible-banner {
        display: block;
        width: 33.3%;
    }
    
    .notice p {
        display: inline;
        margin: 0;
    }

    .item-description {
        width: 60%;
        margin: auto auto;
    }
    
    .item-property-buttons-container {
        justify-content: center;
        align-items: center;
    }

    .property-button {
        margin: 10px;
    }
   
   .front-item-picture {
       width: 75%;
       float: left;
   }

   .item-thumbnail {
       width: 25%;
   }

   
}

@media only screen and (min-width: 1024px) {
   #carousel-controls-container {
       height: 9.5%;
   }
    
    .item-short-overview-block {
        width: 21.25%;
    }

    .changing-order-item-overview {
        order: 0;
    }

    .desktop-visible-item-short-overview {
        display: block;
    }

    .tablet-visible-banner {
        display: none;
    }

    .first-banner-image {
        width: 50%;
    }

    .desktop-visible-banner {
        display: block;
        width: 50%;
    }


    /* carousel desktop */
   
   .item-images-bar, .item-detailed-description-container {
       width: 42.5%;
       float: left;
       margin: 0;
       margin-left: 5%;
   }

   .item-detailed-description-container {
       float: right;
       margin-right: 5%;
   }

   .front-item-picture {
       width: 100%;
       clear: both;
   }

   .item-thumbnail {
       width: 33.33%;
   }

   .item-description {
       width: 100%;
       text-align: justify;
   }

   .item-property-buttons-container {
       justify-content: flex-start;
   }

    /*catalog desktop */
    
    .dropdown-filters, .showing-filters-button, .selected-item-properties {
        display: none;
    }

    .filters-bar {
        display: none;
    }

    .selecting-filters-container::before, .selecting-filters-container::after {
        content: "";
        display: table;
    }

    .selecting-filters-container::after {
        clear: both;
    }

    .selecting-filters-container {
        display: block;
        border-bottom: 1px solid #a5a5a5;
    }

    

    .filter-selection {
        width: 14%;
        display: block;
        float: left;
        height: 65px;
        border-radius: 0;
        border: none;
        background: transparent url("../img/icons/filter.png") no-repeat 90% center;
        font-size: 16px;
        font-weight: bold;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-left: 1%;
        outline: none;
    }

    .filter-selection::-webkit-selection {
        background: #a5a5a5;
    }

    .filter-selection option[selected="selected"] {
        background: #a5a5a5;
    }


    .first-filter-selection {
        padding-left: 5%;
        width: 20%;
    }

    .last-filter-selection {
        padding-right: 5%;
        width: 20%;
    }
}
